<!DOCTYPE html>
<html>
<head>
 <title>Welcome to nodeJs</title>
    <!--inject:css-->
    <link rel="stylesheet" href="/css/app.css">
    <!--endinject-->
    
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->

    <!--inject:js-->
    <script src="/js/main.js"></script>
    <!--endinject-->
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Node App</a>
    </div>
    <ul class="nav navbar-nav">
      <% for(i=0;i<nav.length;i++){ %>
      <li><a href="<%= nav[i].Link %>"><%= nav[i].Text %></a></li>
      <% } %>


    </ul>
  </div>
</nav>
<div class="container">
<h4>Books Page</h4>
<hr/>

<div class="books-container">
<% for(i=0;i<books.length;i++) { %>

<div class="book">
    <div class="book-title"><a href="/books/<%=books[i]._id%>"><%= books[i].bookName%></a></div>
    <div class="remove-book"><a href="/books/removeBook/<%=books[i]._id%>"><button class="btn btn-danger btn-xs">Remove Book</button></a></div>

</div>



<% } %>    


</div>    


</div>    

</body>

<!-- bower:js -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

</html>